.env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
.env.*
.envrc
*.bak
*.tmp
node_modules/
coverage/
*.cover
*.pid
*.seed
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.iml
*.lock
*.cache
*.tox/
.mypy_cache/
.pytest_cache/
*.testresult
*.code-workspace
*.ipynb_checkpoints/